<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Servicios</h1>
        <div>
            <img src="{{ url_for('static', filename='imagenes/leche.png') }}" alt="producto 1" width="200px">
            <h2>Leche Natural</h2>
            <button>Leer más</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imagenes/leche_condensada.png') }}" alt="producto 2" width="200px">
            <h2>Leche Condensada</h2>
            <button>Leer más</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imagenes/leche_evaporada.png') }}" alt="producto 3" width="200px">
            <h2>Leche Evaporada</h2>
            <button>Leer más</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imagenes/yogurt.png') }}" alt="producto 4" width="200px">
            <h2>Yogurt</h2>
            <button>Leer más</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imagenes/bebida_lactea.png') }}" alt="producto 5" width="200px">
            <h2>Bebida Lactea</h2>
            <button>Leer más</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imagenes/mantequilla.png') }}" alt="producto 6" width="200px">
            <h2>Mantequilla</h2>
            <button>Leer más</button>
        </div>
        <div>
            <img src="{{ url_for('static', filename='imagenes/paneton.png') }}" alt="producto 7" width="200px">
            <h2>Paneton</h2>
            <button>Leer más</button>
        </div>
    </main>
</body>
</html>